{
  "env": {
    "local": {
      "db": "http://127.0.0.1:5984/myhollywood"
    },
    "cloudant": {
      "db": "https://omentrutinfingetopecirct:SDvOVmyEMnT2nApDidysqlYA@faeryqueen21.cloudant.com/myhollywood/"
    }
  }
}
